/* This is what we use to style our webpage */

/* This is where you load your font */
@font-face {
	font-family: "smushy";
	src: url("fonts/smushy-rotate.ttf") format("truetype-variations");
}

* {
	margin: 0;
	padding: 0;
}

body {
	color: rgb(calc(var(--sound) * 2.5), 255, 255); /* Change text color here */
	background: url('img/hehe.gif'), -moz-linear-gradient(180deg, rgba(45, 223, 247, 0.5) 0%, rgba(calc(var(--sound) * 2.5), 255, 255, 0.5) 100%);
	background: url('img/hehe.gif'), -webkit-linear-gradient(180deg, rgba(45, 223, 247, 0.5) 0%, rgba(calc(var(--sound) * 2.5), 255, 255, 0.5) 100%);
	background: url('img/hehe.gif'), -o-linear-gradient(180deg, rgba(45, 223, 247, 0.5) 0%, rgba(calc(var(--sound) * 2.5), 255, 255, 0.5) 100%);
	background: url('img/hehe.gif'), -ms-linear-gradient(180deg, rgba(45, 223, 247, 0.5) 0%, rgba(calc(var(--sound) * 2.5), 255, 255, 0.5) 100%);
	background: url('img/hehe.gif'), linear-gradient(180deg, rgba(45, 223, 247, 0.5) 0%, rgba(calc(var(--sound) * 2.5), 255, 255, 0.5) 100%);
		background-size: COVER;
		height: 110vh;
		padding:0;
		margin:0;
		font-size: 25vw;
		margin-top: -10vh;
		background-repeat: no-repeat;
		background-blend-mode: multiply;
}
font-size: 25vw;
canvas {
	display: none;
}

.type {
	display: flex;
	margin-top: 1VH;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 100vh;
	width: 100vw;
	font-family: "smushy", serif; /* This is where you load the font */
	font-variation-settings: "wght" var(--sound);
	mix-blend-mode: exclusion;
	filter: brightness(200%);

}

img {

	z-index: 1;
	display: flex;
	justify-content: center;
	position: absolute;
	top: 97.5%;
	transform: translate(-50%, -50%);
	opacity: 0.8;
	width:2vw;

}

.juice {
	left: 1.2%;
}

.eye {
	left: 3.5%;
}

/* Animation */
@keyframes animateText {
	from {
		font-variation-settings: "wght" 0;
		filter:blur(80%);
	}
	to {
		font-variation-settings: "wght" 100;
		filter:blur(0%);
	}
}

@media only screen and (max-width: 480px) {
  img {
    width: 10vw;
	top: 96%;
  }


.juice {
	left: 5%;
}

.eye {
	left: 15%;
}

.type {
	font-size: 50vw;
	text-align: center;
	line-height: 18vh;
}
}
